html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  width: 100%;
  max-width: 400px;
  height: 50px;
  background-color: #c6e9fa;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.25s ease-in-out;
}

button:hover {
  background-color: #a8dffa;
}

small {
  color: #009ee3;
  margin-top: 20px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}